$font-xsm: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.5rem;
$font-xlg: 2rem;
$color1: #fff;
$color2: #eff2f7;
$color3: #f9fafc;
$color4: #e5e9f2;
$text-color1: #979aa5;
$text-color2: #575a65;
$text-color3: #006156;
$text-color4: #444854;
$text-color5: #9da8b6;
$text-color6: #44a798;
$text-color7: #cc4945;
$text-color8: #ffce00;
$text-color9: #63BDAF;
$text-color10: #C8E2DE;
$bg-color1: #ffeea7;
$bg-color2: #def5f2;
